<header>
     <div class="logo">mesmine-kitchen</div>
    <button class="burger" (click)="toggleMenu()">☰</button>
    @if(isMenuOpen || !isMobile){
        
        <nav>
            @for(link of links; track link){
                <a [href]="'#' + link.id" [class.active]="activeLink === link.id" (click)="setActive(link.id)">
                    {{ link.label }}
                </a>
            }
        </nav>
    }

    <!-- pour un bon affichage sur mobile -->
    @if(isMenuOpen){
        <div class="overlay" (click)="toggleMenu()"></div>
    }

</header>